<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>    
    <add name="DefaultDatabaseConnection" connectionString="Data Source=some_ip;Initial Catalog=XXX;User ID=XXX;Password=XXX" providerName="System.Data.SqlClient"/>    
    <add name="DB1" connectionString="Data Source=some_db_server;Initial Catalog=catalog_name;User ID=XXX1;Password=XXXX" providerName="System.Data.SqlClient"/>
    <add name="DB2" connectionString="Data Source=some_db_server;Initial Catalog=catalog_name;User ID=XXX;Password=XXXX" providerName="System.Data.SqlClient"/>
    <add name="DB3" connectionString="Data Source=some_db_server;Initial Catalog=catalog_name;User ID=XXX;Password=XXXX" providerName="System.Data.SqlClient"/>
    <add name="DB4" connectionString="Data Source=some_db_server;Initial Catalog=catalog_name;User ID=XXX;Password=XXXX" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>